*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input{
    width: 100%;
    height: 42px;
    border : 1px solid #e9e9e9;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px 5px;
    font-size: 13px;
}

button{
    height: 42px;
    padding: 8px 5px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 13px;
    min-width: 120px;
    background: #4482ff;
    color: #fff;
}

a{
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.register-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: url(../images/register-background.jpg) no-repeat center center;
    background-size: cover
}
.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: url(../images/login-background.jpg) no-repeat center center;
    background-size: cover;
}

.form-container{
    width: 500px;
    min-width: 400px;
    height: 100%;
    background: #fff;
    padding: 70px 50px;
}

.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

}

.logo span {
    font-size: 32px;
    color: #788195;
}

.name-wrapper{
    display: flex;
    justify-content: space-between;
}

.name-wrapper .input-wrapper {
    width: 48%;
}

.form-footer {
    display: flex;
    justify-content: space-between
}